/* Estilo para la pantalla de carga */
.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el gif de carga */
.loader img {
  width: 50%;
}

/* Estilo para ocultar la pantalla de carga una vez cargada la página */
.contenido-pagina {
  display: none;
}