.product {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../recursos/proyecto/diseno1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.productTitle {
	background-color: #115053;
	color: white;
}

.productDesc {
	max-width: 1700px;
}

.textoProd p {
	font-size: large;
	font-weight: lighter;
}

.categorias {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all .1s ease-in;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 24px;
	height: 40px;
	padding: 0 16px;
	box-sizing: border-box;
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
	margin-right: 8px;
	margin-top: 10px;
}

.bi-bounding-box-circles,
.bi-brush,
.bi-pc-display-horizontal {
	font-size: 20px;
	margin-right: 8px;
}

.categorias:hover,
.bi-bounding-box-circles:hover,
.bi-brush:hover,
.bi-pc-display-horizontal:hover {
	color: #b3b3b3;
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.textoProducto {
	font-size: 2.5vw;
}

.negro:hover {
	opacity: .8;
}

.negro {
	opacity: .5;
}

@media (min-width: 768px) {

	.bd-placeholder-img {
		font-size: 3.5rem;
	}
}

@media (max-width: 600px) {
	.btn-back {
		top: 60px;
	}

	.prod {
		margin-top: 60px;
	}
}