* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #0d3c3f80;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header>div>.titulo {
  font-weight: normal;
}

header>div>.menuBtn {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 27px;
}

header>div>div>.btn-group {
  position: absolute;
  right: 20px;
}

/* Botones para iniciar sesión o registrarse y contacto */
.btn-outline-primary {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.btn-outline-primary>i {
  font-size: 27px;
}

.btn-outline-primary:hover {
  background-color: transparent;
  border-color: transparent;
  color: #b3b3b3;
}

/* Cuando alguien pase por encima de los botones el ratón aparecerá un mensaje para saber que hace ese botón */
/* .popover {
  position: relative;
}

.popover:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 9999;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #333 transparent;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popover:after {
  content: attr(data-content);
  display: block;
  position: absolute;
  z-index: 9999;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  padding: 8px 12px;
  border-radius: 4px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.popover:hover:before,
.popover:hover:after {
  opacity: 0.7;
} */