* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #0d3c3f80;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header>div>.titulo {
  font-weight: normal;
}

header>div>.menuBtn {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 27px;
}

header>div>div>.btn-group {
  position: absolute;
  right: 20px;
}

/* Botones para iniciar sesión o registrarse y contacto */
.btn-outline-primary {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.btn-outline-primary>i {
  font-size: 27px;
}

.btn-outline-primary:hover {
  background-color: transparent;
  border-color: transparent;
  color: #b3b3b3;
}

span {
  cursor: pointer;
}

.recuerdame-container {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 422px) {

  #login>span,
  #contacto>span,
  #privada>span,
  #logout>span {
    display: none;
  }
  
}