main section h2 {
  margin-top: 0;
}

.contenido-pagina {
  background-color: #115053;
}

/* Home */
#section1>.background {
  background-image: url(../recursos/fondo/central_home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#section1>.background>div>div>.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 28%;
  margin-top: 45px;
}

#section1>.background>div>div>.person {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  width: 50%;
}

#homeText {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeConte {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bienvenida {
  position: absolute;
  top: 10%;
  color: white;
  font-weight: bolder;
}

/* Proyectos */
#section2>.background {
  background-image: url(../recursos/fondo/central_proyectos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 10%;
}

#section2>.background>div>div>.proyectos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  -webkit-transform: translate(-50%, -75%);
  width: 30%;
}

#section2>.background>div>div>form>input {
  background-color: #115053;
  border: 2px white solid;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

#section2>.background>div>div>form>input:hover {
  background-color: white;
  color: #115053;
  border: 2px #115053 solid;
  font-weight: bold;
}

/* Sobre mi */
#section3>.background {
  background-image: url(../recursos/fondo/central_sobremi.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#section3>.background>div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin-top: 50px;
}

#section3>.background>div>.sobre {
  width: 50%;
}

#section3>.background>div>p {
  color: white;
  font-size: large;
  font-weight: lighter;
}

#redes>a {
  width: 50px;
  height: 50px;
}

#redes>a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#section3>.background>div>div>.manos {
  width: 45%;
  margin-top: 13px;
}

/* Navegador */
#navegador {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 150px;
  border-radius: 25px;
  padding: 30px;
}

.circle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Formulario */
#form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

#black-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Botón para volver atras */
.volver {
  position: absolute;
  left: 70px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.flechaVolver {
  color: white;
  font-size: 19px;
}

.pie {
  background-color: #083638;
  color: white;
}

.pie>footer>a>img {
  width: 60px;
}

.pie>footer>ul>li>a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 739px) {

  #section1>.background,
  #section2>.background,
  #section3>.background {
    background-size: auto;
  }

  #section1>.background>div>div>.home {
    width: 50%;
  }

  #section2>.background>div>div>.proyectos {
    width: 60%;
  }

  #section3>.background>div>.sobre {
    width: 70%;
  }

  #section1>.background>div>div>.person {
    transform: translate(-97%, 0%);
    width: 60%;
  }

  #section2>.background>div>div>form>input {
    font-size: 15px;
  }

  #section3>.background>div>div>.manos {
    width: 45%;
    margin-top: 5px;
  }

  .bienvenida {
    top: 22%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1000px) {

  #section1>.background>div>div>.home,
  #section2>.background>div>div>.proyectos {
    width: 40%;
  }

  #section3>.background>div>.sobre {
    width: 70%;
  }

  .bienvenida {
    top: 17%;
  }
}