main {
  background-color: #115053;
}

main section h2 {
  margin-top: 0;
}

/* Home */
#section1>.background {
  background-image: url(../recursos/fondo/central_home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#section1>.background>div>.home{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  width: 32%;
  margin-top: 30px;
}

#section1>.background>div>.person{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  width: 50%;
}

/* Proyectos */
#section2>.background {
  background-image: url(../recursos/fondo/central_proyectos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 10%;
}

#section2>.background>div>img {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    -webkit-transform: translate(-50%, -75%);
  width: 35%;
}

#section2>.background>div>a {
  background-color: #115053;
  border: 2px white solid;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

#section2>.background>div>a:hover {
  background-color: white;
  color: #115053;
  border: 2px #115053 solid;
  font-weight: bold;
}

/* Sobre mi */
#section3>.background {
  background-image: url(../recursos/fondo/central_sobremi.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#section3>.background>div {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  margin-top: 50px;
}

#section3>.background>div>.sobre{
    width: 70%;
}

#section3>.background>div>p {
  color: white;
  font-size: large;
  font-weight: lighter;
}

#redes>a {
  width: 50px;
  height: 50px;
}

#redes>a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#section3>.background>div>div>.manos {
  width: 35%;
  margin-top: 10px;
}

/* Navegador */
#navegador {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 150px;
  border-radius: 25px;
  padding: 30px;
}

.circle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Formulario */
#form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

#black-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contacto */
.fondo {
  background-color: #115053;
  height: 100vh;
}

.card {
  border: none;
  transform: translate(0%, 30%);
}

.card-body {
  border-radius: 5px;
  padding: 30px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #115053;
}

.btn-primary {
  background-color: #115053;
  border: 2px white solid;
  font-size: 15px;
}

.btn-primary:hover {
  background-color: #1a6f74;
  border: 2px white solid;
}

.btn-primary:focus {
  box-shadow: none;
}

/* Botón para volver atras */
.btn-back {
  position: absolute;
  top: 90px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

footer>div {
  background-color: #083638;
}

@media screen and (min-width: 320px) and (max-width: 739px) {
  #section1>.background,
  #section2>.background,
  #section3>.background
  {
    background-size: auto;
  }

  #section1>.background>div>.home,
  #section2>.background>div>.proyectos
   {
    width: 50%;
  }

  #section3>.background>div>.sobre{
    width: 100%;
  }

  #section1>.background>div>.person{
    transform: translate(-97%, 0%);
    width: 60%;
  }

  #section3>.background>div>div>.manos {
    width: 80%;
    margin-top: 5px;
  }

}


@media screen and (min-width: 740px) and (max-width: 1000px) {
  #section1>.background>div>.home,
  #section2>.background>div>.proyectos
   {
    width: 40%;
  }

  #section3>.background>div>.sobre{
    width: 70%;
  }
}