.list-unstyled {
    max-height: calc(3 * 200px);
    overflow-y: auto;
}

.privadas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .1s ease-in;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 24px;
    height: 40px;
    padding: 0 16px;
    box-sizing: border-box;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 10px;
}

.bi-person-gear,
.bi-gear,
.bi-chat-dots {
    font-size: 20px;
    margin-right: 8px;
}

.privadas:hover,
.bi-person-gear:hover,
.bi-gear:hover,
.bi-chat-dots:hover {
    color: #b3b3b3;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.dato {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: default;
}

.dato:focus::placeholder {
    color: transparent;
}

.transparent-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.transparent-button>i {
    color: #115053;
}

.transparent-button:hover,
.transparent-button:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    box-shadow: none;
}